<footer class='site-footer'>
    Max Kohler 2018
</footer>
<script>
    (function (d) {
        var config = {
            kitId: 'nxh8pvv',
            scriptTimeout: 3000,
            async: true
        },
            h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);

    document.addEventListener('DOMContentLoaded', function () {
        var header = document.querySelector('.site-header');
        let headlines = document.querySelectorAll('.post-content h2[id]');
        for (let i = 0; i < headlines.length; i++) {
            let link = document.createElement('a')
            link.setAttribute('href', '#' + headlines[i].id)
            link.innerHTML = '#'
            link.classList.add('post-jumplink')
            console.log(link)
            headlines[i].appendChild(link)
        }

        let paragraphs = document.querySelectorAll('.post-content p');
        for (let i = 0; i < paragraphs.length; i++) {
            let image = paragraphs[i].querySelector('img, video, iframe');
            if (image) {
                paragraphs[i].classList.add('hasimage')
            }
        }
        let navToggle = document.querySelector('.nav-toggle')
        let nav = document.querySelector('.post-nav')
        navToggle.addEventListener('click', function () {
            document.body.classList.toggle('nav-active')
            nav.classList.toggle('active')
        })

        let gridImages = document.querySelectorAll('.masonry-5 img')
        for (let i = 0; i < gridImages.length; i++){
            let img = gridImages[i];
            let title = img.getAttribute('src').slice(17).toLowerCase()
            img.insertAdjacentHTML('afterend', '<span class="masonry-caption">' + title + '</div>');
        }

        var codeSections = document.querySelectorAll('.language-pseudocode')
        console.log(codeSections)
        for (let i = 0; i < codeSections.length; i++){
            let c = codeSections[i];
            c.insertAdjacentHTML('beforebegin', '<p class="code-hint">Pseudocode <a class="more" href="https://en.wikipedia.org/wiki/Pseudocode"><svg viewBox="0 0 24 24"><path d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg></a></p>')
        }
        
    }, false);
</script>