* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: $sans;
    font-size: 2rem;
}

.site-header {
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    letter-spacing: .01em;
    font-weight: 400;
}

.site-footer {
    text-align: center;
    font-size: 1rem;
}

.nav-toggle {
    position: fixed;
    top: 1rem;
    background: none;
    border: 0;
    font-family: $sans;
    appearance: none;
    left: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
        outline: 0
    }
}

.site-footer {
    padding-top: 8rem;
    padding-bottom: 2rem;
}