.post-container {
    display: flex;
}

.post-jumplink {
    display: none;
}

.note {
    color: gray;
}

.caption {
    display:block;
    font-size: 1rem;
    padding-left: 1rem;
    column-span: all;
    padding-top: .5rem;
    a {
            font-family: $sans;
            color: gray;
            font-size: .8rem;
            display: block;
    }
}
.post {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    letter-spacing: .005em;
    max-width: 100%;
    line-height: 1.45;
    flex-grow: 1;
    transition: $fast + 40ms;
    .nav-active & {
        transform: translateX(25%);
    }
    .masonry-caption {
        margin-bottom: .5rem;
        margin-top: -.5rem;
        font-family: $sans;
        display: block;
        line-height: 1.3;
        font-size: .85rem;
//        font-family: "lucida console", monospaced; 
        font-family: $sans; 
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        text-align: center;
    }

    .masonry {
        column-gap: 1rem;
        iframe {
            display: block;
            width: 100%;
        }
        &#{-2}{
        margin-bottom: 2rem;
            column-count: 2;
        }
        &#{-5}{
            margin-bottom: 2rem;
            column-count: 5;
        }
    }

    a {
        color: inherit;
    }
    p, li {
        hyphens: auto;
        -webkit-hyphens: auto;
        margin-bottom: .5rem;
    }
    li {
        margin-bottom: .5rem;
    }
    ul {
        padding-left: 1em;
    }
    h1 {
        font-size: 2rem;
        margin-left: -10%;
        width: 120%;
        font-family: $sans;
        margin-bottom: 2rem;
    }
    h2 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-family: $sans;
        font-size: 1.4rem;
    }
    h3 {
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }
    strong {
        font-family: $sans;
        margin-right: 1rem;
        font-size: .9rem;
    }
blockquote {
    font-family: $sans;
}
    pre {
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        margin-top: 1rem;
//        background: rgb(250,250,250);
 //       border: .5px solid rgba($black, .5);
        border-radius: 2px;
    }
    code {
        font-family: $sans;
        color: $black;
    }

    .code-hint {
        font-family: $sans;
        color: gray;
        font-size: .7rem;
        svg {
            width: 1rem;
            height: 1rem;
            position: relative;
            top: .2rem;
            opacity: 0.6;
            &:hover, &:focus {
                opacity: .8
            }
        }
        path {
            fill: grey;
        }
    }

    img, iframe, video {
        margin: 0 auto;
        max-width: 100%;
        display: block;
        margin-bottom: .5rem;
    }

    .hasimage {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-family: $sans;   
    }

    .full {
        width: 150%;
        margin-left: -25%;
        margin-top: 2rem;
        img {
            width: 100%;
        }
    }
    blockquote {
        font-size: 1.2rem;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    img.bleed, .bleed {
        width: 98vw;
        max-width: none;
        margin-bottom: 1rem;
        margin-left: calc(((100vw - 46.5rem) / 2) * -1);
    }
    table {
        font-size: .8rem;
    }
    td {
        padding: .5rem;
        vertical-align: top;
    }
    tr {
        border-bottom: 1px solid gray;
    }
}

.post-inner {
    max-width: 47rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.post-title {
    font-family: $sans;
    text-align: center;
    font-size: calc(1rem + 1.5vw);
}

.header-content {
    max-width: 50rem;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
}

.post-header {

}