---
layout: base
---

<div class="post-container">
    <button class="nav-toggle">Menu</button>
    <nav class='post-nav'>    
        {% include nav.html %}
    </nav>
    <article class="post">
        <div class="post-inner">
        <header class="post-header">
            <div class="header-content">
                <h1 class="post-title">{{page.title}}</h1>
            </div>
        </header>
        <main class="post-content">    
            {{content}}
        </main>
    </div>
    </article>

</div>